.button {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  font-family: @bold-primary-font;
  text-align: center;
  color: @secondary-text-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @secondary-bg;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: @hover-bg;
  }

  @media (min-width: @tablet-width) {
    max-width: 324px;
  }

  @media (min-width: @desktop-width) {
    max-width: 384px;
  }
}
