.button {
  display: block;
  padding: 18px 10px 18px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-family: @bold-primary-font;
  text-align: center;
  color: @secondary-text-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @secondary-bg;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: @hover-bg;
  }

  &:active {
    background-color: @active-bg;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--disabled {
  background-color: #e5e5e5;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    color: #ffffff;
  }
}
