.intro {
  background-color: @secondary-bg;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center top;
  background-size: 100%, cover;
}

.intro--sedona {
  background-image: url(../../img/intro-triangle-mobile.svg), url(../../img/intro-bg-mobile@1x.jpg);
  height: 158px;

  @media (min-resolution: 2dppx) {
    background-image: url(../../img/intro-triangle-mobile.svg), url(../../img/intro-bg-mobile@2x.jpg);
  }

  @media (min-width: @tablet-width) {
    background-image: url(../../img/intro-triangle-tablet.svg), url(../../img/intro-bg-tablet@1x.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/intro-triangle-tablet.svg), url(../../img/intro-bg-tablet@2x.jpg);
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url(../../img/intro-triangle-desktop.svg), url(../../img/intro-bg-desktop@1x.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/intro-triangle-desktop.svg), url(../../img/intro-bg-desktop@2x.jpg);
    }
  }
}

.intro--index {
  background-image: url(../../img/intro-triangle-mobile.svg), url(../../img/intro-bg-index-mobile@1x.jpg);
  height: 390px;

  @media (min-resolution: 2dppx) {
    background-image: url(../../img/intro-triangle-mobile.svg), url(../../img/intro-bg-index-mobile@2x.jpg);
  }

  @media (min-width: @tablet-width) {
    background-image: url(../../img/intro-triangle-tablet.svg), url(../../img/intro-bg-index-tablet@1x.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/intro-triangle-tablet.svg), url(../../img/intro-bg-index-tablet@2x.jpg);
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url(../../img/intro-triangle-desktop.svg), url(../../img/intro-bg-index-desktop@1x.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/intro-triangle-desktop.svg), url(../../img/intro-bg-index-desktop@2x.jpg);
    }
  }
}

.intro__wrapper {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro__text-image--sedona {
  max-width: 229px;
  display: block;

  @media (min-width: @tablet-width) {
    max-width: 457px;
  }

  @media (min-width: @desktop-width) {
    max-width: 460px;
  }
}
