.section-header {
  padding: 40px 20px 30px;
  text-align: center;
  margin: 0 auto;
}

.section-header__title {
  padding: 0;
  margin: 0 0 35px;
  font-size: 18px;
  line-height: 26px;
  font-family: @bold-primary-font;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.section-header__title--booking {
  font-size: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.section-header__subtitle {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
}
